<div class="timon">
  <div class="icon"></div>
  <div class="text">
    <p>Un barco está más seguro en el puerto, pero para eso no se construyen los barcos</p>
  </div>
</div>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link" data-action="/">Apunta tu bebida</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-action="/guests">Compara tus gustos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-action="/comments">Comentarios</a>
  </li>
</ul>
