<div class="w-content">
  <div class="c-content__box">
    <h3>Bebidas:</h3>
    <div class="echarts__drinks"></div>
  </div>
  <div class="c-content__box">
    <h3>Complementos:</h3>
    <div class="echarts__complements"></div>
  </div>
</div>
