html, body {
  font-size: $default-font-size;
  font-family: $default-font-family;

  background-size: 100%;
  background-image: url("../images/textura.jpg");

  input {
    font-size: $default-font-size;
    font-family: $default-font-family;
  }
}
