footer {
  bottom: 0;
  background-color: $color-background-header;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: space-between;

  // .text_company {
  //   float: left;
  // }
  //
  // .text_year {
  //   float: right;
  // }

  @include mq($until: lg) {
    font-size: .7rem;
  }
}
