.c-content__box {
  background-color: $color-background-header;
  border-radius: 1rem;
  border: double $color-black 1px;
  padding: 5rem 2rem;
  margin: 4rem 0 7rem;

  .button__container {

    .btn {
      float: right;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:disabled {
        .loading-spinner {
          display: block;
        }
      }

      .button__text {
        flex-basis: 100%;
      }

      .loading-spinner {
        background-color: transparent;
        padding: 0;
        display: none;
        width: 1rem;
        margin-right: .75rem;

        .loading-spinner__item {
          width: 1rem;
          height: 1rem;
          border: 2px solid rgba(233, 208, 175, 0.8);
          border-top: 2px solid rgba(206, 149, 75, 0.8);
        }
      }
    }

    @include mq($until: lg) {
      .btn {
        width: 100%;
        height: 3rem;
        margin-top: 2rem;
        float: none;
      }
    }
  }

  .has-danger {

    .form-control {
      border-width: 2px;
    }
  }

  .form-group {

    label {
      font-weight: bold;
      color: black;
    }
  }
}
