header {
  background-color: $color-background-header;
  padding-top: 5rem;

  .timon {
    font-family: $secondary-font-family;
    font-size: 3rem;
    padding: 0 25%;
    padding-bottom: 3rem;
    text-align: justify;

    p {
      user-select: none;
    }

    .subtitle {
      font-size: 2rem;
      text-align: right;
    }

    .timon--icon {
      background-image: $icon-timon;
      background-repeat: no-repeat;
      background-size: 6rem;
      height: 6rem;
      width: 6rem;
      position: absolute;
      left: 17%;
      top: 5rem;

    }

  }

  .icon {
    background-image: $icon-logo;
    background-repeat: no-repeat;
    background-size: 5rem;
    border: double $color-black;
    border-radius: 100%;
    float: left;
    height: 5rem;
    left: 3rem;
    position: absolute;
    padding: 3rem;
    top: 2rem;
    width: 5rem;
  }

  .nav-item {
    color: $color-black;
    cursor: pointer;

    .nav-link {

      &:hover {
        border-color: transparent;
      }

      &.active {
        background-color: lighten($color-background-header, 5%);
        color: $color-black;
      }
    }
  }
}

@include mq($from: xs, $until: lg) {

  header {
    padding-top: 10rem;

    .timon {
      padding-bottom: 0;

      .timon--icon {
        position: relative;
        left: 0;
        top: -5rem;
      }
    }
  }

}
