section {
  height: 100vh;

  @include mq($from: xs, $until: md) {
    background-color: transparentize($color-white, .6);
  }

  .table,
  .table th {
    text-align: center;

    th {
      background-color: transparentize($color-black, .8);
      color: $color-white;
      text-align: center;
    }

    &.table-responsive {
      display: table;
    }

    @include mq($until: lg) {
      font-size: .7rem;
    }
  }

  td {
    font-weight: bold;
  }
}

.w-content {
  width: 992px;
  max-width: calc(100vw - 2rem);
  margin: 0 auto;
}
